#style {
    background: #777;
    color: #ebebeb;
    height: 100vh;
    width: 90vw;
    text-align: center;
    margin: 0px;
}

.contentfill {
    background: #ebebeb;
    color: #777;
    height: 10vh;
    width: 80vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

#headcontent {
    position: relative;
    top: 10px;
    left: 160px;
}

#navcontent {
    position: relative;
    top: 25px;
    left: 160px;
}

#bodycontent {
    position: relative;
    top: 40px;
    left: 160px;
    height: 40vh;
}

#bodyleft {
    position: relative;
    float: left;
    width: 40vw;
    height: 40vh;
}

#artcontent {
    background: #777;
    color: #ebebeb;
    width: 30vw;
    position: relative;
    left: 80px;
    padding-top: 10px;
    height: 30vh;
}

#artconthead {
    position: relative;
    left: 40px;
    width: 25vw;
    height: 5vh;
}

#artcontp {
    position: relative;
    top: 15px;
    left: 40px;
    width: 25vw;
    height: 5vh;
}

#bodyright {
    position: relative;
    float: right;
    width: 39vw;
    height: 40vh;
    right: 160px;
}

#footcontent {
    position: relative;
    top: 80px;
    left: 160px;
}

